body {
    min-height: 60vh;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.card {
    width: 520px;
    height: 668px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #0d6efd;
    color: white;
    font-size: 1.5rem;
    padding: 0.6rem;
    border-radius: 12px 12px 0 0 !important;
}

.form-group {
    margin-bottom: 1.5rem;
}

input, select {
    border-color: #dee2e6;
    border-radius: 8px;
    padding: 0.75rem;
}

button.btn-primary {
    background-color: #0d6efd;
    border: none;
    width: 100px;
    padding: 0.75rem;
    border-radius: 8px;
    font-weight: 500;
}

button.btn-primary:hover {
    background-color: #0b5ed7;
}

.bi {
    width: 1em;
    height: 1.5em;
    vertical-align: -0.7em;
    fill: currentcolor;
    margin-left: 10px;
}

.opane{
    padding: 15px;
}

/****-------------------------导出------------------------------****/
.form-check-input:checked {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.form-check-label {
    margin-left: 10px;
    margin-top: 0.25em;
}

.option-item {
    transition: all 0.2s ease;
    border-left: 3px solid transparent;
}

.option-item.selected {
    border-left: 3px solid var(--bs-primary);
}

/**---------------------------导入--------------------------------**/


.upload-icon {
    font-size: 3rem;
    color: #0d6efd;
    margin-bottom: 1rem;
}
.file-input-label {
    display: block;
    padding: 1.5rem;
    border: 2px dashed #dee2e6;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}
.file-input-label:hover {
    border-color: #0d6efd;
}
.file-input {
    display: none;
}
.file-name {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #6c757d;
}